@font-face {
    font-family: "Alian ABC";
    src: url("fonts/Alien\ ABC.ttf");
}


body {
  background-color: #efefef;
  /* Off-white background */
  margin: 0;
  padding: 0;
  font-family: serif;
  text-align: center;
  color: #000b6d;
  /* Dark gray text */
}

#cim {
  margin-top: 25vh;
  font-size: 20px;
  font-family: serif;
  font-style: italic;
  margin-bottom: -100px;
}

.subtitle {
  font-family: "Alien ABC";  
  font-size: 150px;
  margin-bottom: 100px; 
}

.link {
  font-family: "Alien ABC";  
  font-size: 150px;
  margin-bottom: 100px;   
}

input[type="password"] {
    width: 10%;
    height: 30%;
    padding: 10px;
    margin: 10px 0;
    border: 5px solid #000b6d;
    border-radius: 1px;
    font-size: 18px;
}
/* 
#name {

    width: 20%;
    padding: 10px;
    margin: 10px 0;
    border: 5px solid #000b6d;
    border-radius: 1px;
    font-size: 18px;

} */


button {
    margin-left: 10px;
    width: 8%;
    background-color: #efefef;
    color: #000b6d;
    padding: 10px;
    border: 5px solid #000b6d;
    border-radius: 1px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #000b6d
    color: #efefef;
}

h2 {

  font-family: "Alien ABC";  
  font-size: 150px;
  margin-bottom: 100px; 

}


textarea {
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
